*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    font-family: 'Inter', sans-serif;
    font-family: 'Karla', sans-serif;   
}
.navbar{
    padding: 15px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right,#672280,#A626D3);
    color: #ffffff;
}
.nav-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'karla','sans-serif';
}
.nav-left h3{
    font-weight: 500;
    font-size:21px;
}
.nav-left img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.nav-right p{
    font-family: 'inter','sans-serif';
    font-size: 13px;
    text-transform: capitalize;
    letter-spacing: 0.5px;
}
.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buttons input{
    padding: 10px 40px;
    text-align: left;
    border-radius: 5px;
    margin:20px;
    font-size: 17px;
    border: 2px solid #D5D4D8;
}
.button{
    position: relative;
}
.button button{
    width: 640px;
    padding: 8px;
    background-image: linear-gradient(to right,#672280,#A626D3);
    color:white;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
.button img{
    position: absolute;
    right:32%;
    top: 10px;
}
.state,.state2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.state-value,.state-value2{
    background-color: green;
    border-radius: 50%;
    padding: 20px;
    color: black;
    cursor: pointer;
}
.counter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.counter--minus,.counter--plus{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.counter-count{
    width: 100px;
    height:100px;
    border-radius: 50%;
    background-color: lightblue;
    color:black;
    font-size:20px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.meme-template{
    width: 250px;
    height: 250px;
    margin-top: 100px;
}
.add_item{
    background: lightgreen;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    text-transform: capitalize;
    line-height: 1.5;
    color:white;
}
.add_item button{
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 50px;
    background-color: lightgreen;
    color: white;
    margin-bottom: 20px;
}
.user{
    width: 220px;
    height: 350px;
    background-color: white;
    box-shadow: 6px 2px 10px 1px lightgray;
    border: 1px solid white;
    border-radius: 15px;
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.user-img img{
    width: 120px;
    height: 120px;
    margin-left: 30px;
    margin-bottom: 15px;
}
.star-img img{
    width: 20px;
    height: 20px;
    margin-bottom: 20px;
    color: grey;
}
.user h2{
    margin-bottom: 10px;
    color: grey;
}
.user p{
    margin-bottom: 10px;
    color: lightslategray;
}